// 基于iphone6的视觉设计稿750尺寸基准 1rem --> 100px
$rem: 100;

// color
$color-txt: #7e4848;
$color-bg: #ebddce;

$color-title-bg: #d0bfac;
$color-required: #f00;
$color-list-bg: #f1eae2;
$color-input-bg: #e4dace;
$color-input-border: #ccb59d;
$color-input-placeholder: #be8f8f;
$color-border: #deccb9;

$color-submit-bg: #da5a31;
$color-submit-txt: #ffffff;
$color-submit-border: #ae411e;